In [11]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn import metrics

import time

In [12]:
# loading Goyal data
GoyalData_NBER = pd.read_csv("GoyalData_2021.csv", thousands=',')

# starting and ending periods
start = 192612
end = 201612

# keep only necessary time periods
start_index = GoyalData_NBER[GoyalData_NBER['yyyymm'] == start].index[0]
end_index = GoyalData_NBER[GoyalData_NBER['yyyymm'] == end].index[0] + 1

data = GoyalData_NBER

TRAIN_START = 192612
TRAIN_END = 195612
TEST_START = 195701
TEST_END = 201612

IND_TRAIN_START = data[data['yyyymm'] == TRAIN_START].index[0]
IND_TRAIN_END = data[data['yyyymm'] == TRAIN_END].index[0] + 1
IND_TEST_START = data[data['yyyymm'] == TEST_START].index[0]
IND_TEST_END = data[data['yyyymm'] == TEST_END].index[0] + 1

data

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,187101,4.44,0.2600,0.4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.2600,0.4000,NaN,NaN,NaN,NaN,NaN,NaN,0.004967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.2600,0.4000,NaN,NaN,NaN,NaN,NaN,NaN,0.004525,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.2600,0.4000,NaN,NaN,NaN,NaN,NaN,NaN,0.004252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.2600,0.4000,NaN,NaN,NaN,NaN,NaN,NaN,0.004643,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,202108,4522.68,58.7913,169.8333,0.184756,0.0005,0.0255,0.0324,0.0128,0.014846,0.000000,0.002066,-0.0035,-0.0045,0.000602,NaN,0.030600,0.029205
1808,202109,4307.54,59.2545,175.3700,0.193036,0.0004,0.0253,0.0323,0.0137,0.015598,0.000000,0.002716,-0.0250,-0.0194,0.001393,NaN,-0.046076,-0.047152
1809,202110,4605.38,59.6354,182.8600,0.182389,0.0005,0.0268,0.0335,0.0158,0.013368,0.000000,0.008308,0.0051,0.0159,0.001151,NaN,0.070510,0.069627
1810,202111,4567.00,60.0162,190.3500,0.189455,0.0005,0.0262,0.0328,0.0156,0.015640,0.000100,0.004913,0.0210,0.0094,0.001327,NaN,-0.007256,-0.008665
1811,202112,4766.18,60.3971,197.8400,0.179786,0.0006,0.0265,0.0330,0.0146,0.012970,0.000000,0.003073,-0.0110,-0.0129,0.002518,NaN,0.043485,0.042285

In [13]:
data_stocks = data.copy()[['yyyymm']]

data_stocks['EQPREM_+1'] = data.loc[:,'CRSP_SPvw'].shift(-1)

data_stocks['DP'] = np.log(data['D12'] / data['Index'])

data_stocks['DY'] = np.log(data['D12'] / data['Index'].shift(1))

data_stocks['DE'] = np.log(data['D12'] / data['E12'])

data_stocks['EP'] = np.log(data['E12'] / data['Index'])

data_stocks['SVAR'] = data['svar']

data_stocks['BM'] = data['b/m']

data_stocks['NTIS'] = data['ntis']

data_stocks['TBL'] = data['tbl']

data_stocks['LTY'] = data['lty']

data_stocks['LTR'] = data['ltr']

data_stocks['TMS'] = data['lty'] - data['tbl']

data_stocks['DFY'] = data['BAA'] - data['AAA']

data_stocks['DFR'] = data['corpr'] - data['ltr']

data_stocks['INFL'] = data['infl']

data_stocks = data_stocks.drop(columns=['LTY', 'DE'])

data_stocks.iloc[IND_TRAIN_START:IND_TEST_END,:].to_csv('data_e.csv', index=False)

data_stocks

,yyyymm,EQPREM_+1,DP,DY,EP,SVAR,BM,NTIS,TBL,LTR,TMS,DFY,DFR,INFL
0,187101,NaN,-2.837728,NaN,-2.406945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,NaN,-2.851151,-2.837728,-2.420368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,NaN,-2.875302,-2.851151,-2.444519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,NaN,-2.903111,-2.875302,-2.472328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,NaN,-2.928112,-2.903111,-2.497329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,202108,-0.046076,-4.342866,-4.314288,-3.282043,0.000602,0.184756,0.014846,0.0005,-0.0035,0.0123,0.0069,-0.0010,0.002066
1808,202109,0.070510,-4.286281,-4.335018,-3.201224,0.001393,0.193036,0.015598,0.0004,-0.0250,0.0133,0.0070,0.0056,0.002716
1809,202110,-0.007256,-4.346731,-4.279873,-3.226260,0.001151,0.182389,0.013368,0.0005,0.0051,0.0153,0.0067,0.0108,0.008308
1810,202111,0.043485,-4.331997,-4.340366,-3.177747,0.001327,0.189455,0.015640,0.0005,0.0210,0.0151,0.0066,-0.0116,0.004913
1811,202112,NaN,-4.368359,-4.325671,-3.181842,0.002518,0.179786,0.012970,0.0006,-0.0110,0.0140,0.0065,-0.0019,0.003073

In [28]:
from sklearn.preprocessing import StandardScaler

data_train = data_stocks.iloc[IND_TRAIN_START:IND_TRAIN_END-1,:]
data_test = data_stocks.iloc[IND_TEST_START-1:IND_TEST_END-1,:]

X_train = np.array(data_train.drop(columns=['yyyymm', 'EQPREM_+1']))
X_test = np.array(data_test.drop(columns=['yyyymm', 'EQPREM_+1']))
y_train = np.reshape(np.array(data_train.loc[:,['EQPREM_+1']]), (X_train.shape[0],))
y_test = np.reshape(np.array(data_test.loc[:,['EQPREM_+1']]), (X_test.shape[0],))

X_scaled_train = X_train.copy()
X_scaled_train[:,:] = StandardScaler().fit(X_train).transform(X_scaled_train)

X_scaled_test = X_test.copy()
X_scaled_test[:,:] = StandardScaler().fit(X_test).transform(X_scaled_test)

In [19]:
data_train

,yyyymm,EQPREM_+1,DP,DY,EP,SVAR,BM,NTIS,TBL,LTR,TMS,DFY,DFR,INFL
671,192612,-0.002910,-2.973012,-2.956570,-2.386837,0.000465,0.441476,0.050876,0.0307,0.0078,0.0047,0.0100,-0.0022,0.000000
672,192701,0.045522,-2.942374,-2.963349,-2.374773,0.000470,0.443706,0.050824,0.0323,0.0075,0.0028,0.0095,-0.0019,-0.011299
673,192702,0.007324,-2.979535,-2.932946,-2.430353,0.000287,0.428501,0.051668,0.0329,0.0088,0.0018,0.0092,-0.0019,-0.005714
674,192703,0.013021,-2.976535,-2.970053,-2.445079,0.000924,0.469765,0.046357,0.0320,0.0253,0.0011,0.0092,-0.0170,-0.005747
675,192704,0.062353,-2.984225,-2.967143,-2.471309,0.000603,0.456754,0.050514,0.0339,-0.0005,-0.0006,0.0090,0.0060,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,195607,-0.032788,-3.304600,-3.254361,-2.631871,0.000496,0.524903,0.024754,0.0231,-0.0209,0.0082,0.0052,0.0116,0.007353
1027,195608,-0.044022,-3.258429,-3.297237,-2.606265,0.001235,0.541391,0.023811,0.0260,-0.0187,0.0065,0.0050,-0.0021,-0.003650
1028,195609,0.006619,-3.204645,-3.251175,-2.573142,0.000788,0.571910,0.029362,0.0284,0.0050,0.0040,0.0051,-0.0038,0.003663
1029,195610,-0.001921,-3.227967,-3.222908,-2.583039,0.001642,0.566427,0.029457,0.0290,-0.0054,0.0039,0.0058,-0.0051,0.003650
1030,195611,0.036284,-3.235596,-3.246627,-2.576841,0.001732,0.574897,0.027088,0.0299,-0.0057,0.0034,0.0055,-0.0069,0.000000

In [20]:
data_test

,yyyymm,EQPREM_+1,DP,DY,EP,SVAR,BM,NTIS,TBL,LTR,TMS,DFY,DFR,INFL
1031,195612,-0.040238,-3.289216,-3.254554,-2.616389,0.001020,0.544177,0.026149,0.0321,-0.0179,0.0024,0.0062,0.0097,0.003636
1032,195701,-0.024919,-3.248434,-3.291115,-2.574677,0.000902,0.567243,0.027992,0.0311,0.0346,0.0017,0.0072,-0.0149,0.000000
1033,195702,0.023827,-3.217201,-3.250394,-2.542483,0.001056,0.584994,0.030173,0.0310,0.0025,0.0018,0.0080,0.0068,0.003623
1034,195703,0.046538,-3.238565,-3.219107,-2.562911,0.000330,0.599819,0.026600,0.0308,-0.0024,0.0023,0.0077,0.0074,0.003610
1035,195704,0.038734,-3.274852,-3.238565,-2.597229,0.000302,0.576098,0.027421,0.0307,-0.0222,0.0038,0.0077,0.0156,0.003597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746,201607,0.001247,-3.885319,-3.850329,-3.210865,0.000478,0.314661,-0.031675,0.0030,0.0081,0.0145,0.0094,0.0164,-0.001618
1747,201608,0.000446,-3.879884,-3.881104,-3.201425,0.000279,0.315197,-0.030782,0.0030,-0.0140,0.0156,0.0092,0.0156,0.000918
1748,201609,-0.017958,-3.874451,-3.875687,-3.192038,0.001673,0.316794,-0.032603,0.0029,-0.0124,0.0167,0.0090,0.0005,0.002404
1749,201610,0.035790,-3.849850,-3.869467,-3.152198,0.000364,0.319688,-0.029034,0.0033,-0.0314,0.0187,0.0087,0.0051,0.001247
1750,201611,0.019195,-3.878496,-3.844892,-3.165980,0.000946,0.303286,-0.027452,0.0045,-0.0599,0.0222,0.0085,0.0089,-0.001555

In [21]:
def R2OS(MSFE_M, MSFE_bmk):
    return 1 - (MSFE_M / MSFE_bmk)

In [22]:
# historical average - base model
historicalaverage = np.mean(y_train)
pred_historicalaverage = np.array([historicalaverage] * y_test.shape[0])

MSPE_bmk = sk.metrics.mean_squared_error(y_test, pred_historicalaverage)
R2OS_bmk = R2OS(MSPE_bmk, MSPE_bmk)

print(MSPE_bmk, R2OS_bmk)

0.001761592109508611 0.0

In [9]:
# kitchen sink
from sklearn.linear_model import LinearRegression

kitchensink = LinearRegression().fit(np.array(X_train), np.array(y_train))
pred_kitchensink = kitchensink.predict(X_test)

MSPE_kitchensink = metrics.mean_squared_error(y_test, pred_kitchensink)
R2OS_kitchensink = R2OS(MSPE_kitchensink, MSPE_bmk)

print(MSPE_kitchensink, R2OS_kitchensink)

0.004779412611941391 -1.7131210375792323

In [18]:
# LASSO
from sklearn.linear_model import LassoCV

lasso = LassoCV().fit(np.array(X_train), np.array(y_train))
pred_lasso = lasso.predict(X_test)

MSPE_lasso = metrics.mean_squared_error(y_test, pred_lasso)
R2OS_lasso = R2OS(MSPE_lasso, MSPE_bmk)

print(MSPE_lasso, R2OS_lasso)

0.001891976681166541 -0.07401518828004994

In [19]:
# elastic net
from sklearn.linear_model import ElasticNetCV
    
elasticnet = ElasticNetCV().fit(np.array(X_train), np.array(y_train))
pred_elasticnet = elasticnet.predict(X_test)

MSPE_elasticnet = metrics.mean_squared_error(y_test, pred_elasticnet)
R2OS_elasticnet = R2OS(MSPE_elasticnet, MSPE_bmk)

print(MSPE_elasticnet, R2OS_elasticnet)

0.0018887490393446837 -0.07218295833054267

In [30]:
from sklearn.linear_model import LassoCV, ElasticNetCV
from sklearn.model_selection import TimeSeriesSplit
from sklearn import metrics

def expanding_window(X_train, X_test, y_train, y_test, forecast_model, model_args=None):
    """
    parameters
    -----------
    X_train: pandas DataFrame, independent variables used to train the forecast model
    X_test: pandas DataFrame, independent variables used for forecasting
    y_train: pandas DataFrame, dependent variable used to train the forecast model
    y_test: pandas DataFrame, dependent variable to forecast
    forecast_model: python object, model used for forecasting. Make this object similar to the
    sklearn models, with a fit() and predict() function
    model_args: dict, arguments to pass when initializing the model
    """
    start_time = time.time()
    if model_args is None:
        model_args = {}
    n_periods = y_test.shape[0]
    pred_model = np.zeros((n_periods,))
    pred_bmk = np.zeros((n_periods,))
    
    # run a forecast for every test period
    for i in range(n_periods):
        # forecasts of model
        model = forecast_model(**model_args).fit(X_train, y_train)
        pred = model.predict(X_test[[i],:])
        pred_model[i] = pred
        
        # forecasts of historical average
        bmk = np.mean(y_train)
        pred_bmk[i] = bmk
        
        # add new row to training data
        X_train = np.vstack([X_train, X_test[[i],:]])
        y_train = np.hstack([y_train, y_test[i]])
    
    MSPE_model = metrics.mean_squared_error(y_test, pred_model)
    MSPE_bmk = metrics.mean_squared_error(y_test, pred_bmk)
    R2OS_val = R2OS(MSPE_model, MSPE_bmk)
    
    end_time = time.time()
    elapsed_time = end_time - start_time

    return {'out-of-sample R2': R2OS_val, 'MSPE_bmk': MSPE_bmk, 'elapsed time': elapsed_time}


cv = TimeSeriesSplit(n_splits=5)
#print(expanding_window(X_train, X_test, y_train, y_test, LinearRegression, model_args={'fit_intercept': False}))
print(expanding_window(X_scaled_train, X_scaled_test, y_train, y_test, LassoCV, model_args={'cv': cv}))
#print(expanding_window(X_train, X_test, y_train, y_test, ElasticNetCV, model_args={'cv': cv}))

{'out-of-sample R2': -1.2732765342526875e-05, 'MSPE_bmk': 0.0017631590057930802, 'elapsed time': 65.16867804527283}

In [23]:
X_train.dtype

dtype('float64')

In [132]:
from sklearn.datasets import load_boston

a = load_boston()
x = a.data
y = a.target

l = LassoCV().fit(x,y)
l.predict(x)

array([30.99753918, 25.77681736, 29.98601449, 29.51799813, 28.03248999,
       27.51646227, 24.45293184, 19.85336661, 11.03931099, 20.52605621,
       18.71479862, 23.71489343, 21.29343807, 23.00230206, 22.11886587,
       22.75172373, 23.61803725, 18.78578281, 19.10486158, 21.20798678,
       14.09072701, 19.76581421, 16.29993566, 15.19500443, 17.71165463,
       16.27524379, 18.33302342, 16.19742417, 20.83317947, 21.544969  ,
       12.52178368, 20.42354328,  7.69871551, 16.04921556, 14.02760753,
       24.96848713, 23.2488128 , 24.63915134, 23.5014159 , 31.55393156,
       33.61649072, 27.51554048, 26.26607247, 25.15358349, 24.07374123,
       23.54801802, 20.63647768, 17.98970538,  8.36626612, 18.83924185,
       22.38522637, 25.94077737, 28.6229339 , 25.74468351, 16.84840301,
       31.55422108, 28.040647  , 34.46962414, 25.04876497, 24.06679765,
       21.08232769, 21.01319946, 26.69842542, 23.85346843, 24.91529883,
       30.92223126, 26.48266073, 22.59976562, 18.85482892, 22.32502835,
       24.33446068, 21.66366909, 24.99755545, 23.47771893, 24.13609407,
       23.05453916, 21.5804364 , 22.22719254, 20.28388223, 22.472322  ,
       28.05431224, 27.2436476 , 26.53535454, 26.05747966, 24.54111152,
       27.48138725, 21.88719483, 26.04297925, 29.86435923, 29.29353683,
       26.54430218, 27.17218778, 28.0572662 , 28.81729679, 26.56957049,
       27.4201839 , 23.9380826 , 31.35043449, 30.75816191, 28.9442362 ,
       23.7054699 , 24.86546303, 19.95909495, 20.27803814, 21.39204636,
       18.30271144, 16.46254952, 20.07312698, 21.89156861, 18.9223316 ,
       19.934298  , 25.01859766, 20.09843663, 19.53061141, 24.63681412,
       19.86781463, 22.82946366, 24.21494656, 19.73688998, 21.02406606,
       22.70750574, 23.15747219, 20.59096616, 14.9113283 , 20.9043036 ,
       23.01049103, 13.26247153, 16.49174216, 18.64036921, 15.40798746,
       20.5706973 , 20.53825442, 21.36245219, 17.75719419, 15.02615536,
       17.10912813, 16.65891704, 19.21283372, 13.63017902, 16.10125555,
       11.67617482,  3.01478287, 14.60847289, 14.865082  , 12.22570134,
       12.70037249, 20.62899673, 11.92740378, 12.72561246, 18.30249656,
       24.62491333, 24.3940352 , 24.67855891, 22.02254005, 23.32853181,
       21.09270778, 19.7230344 , 32.42177577, 30.23671835, 30.00273357,
       30.81804555, 34.99206482, 35.35448484, 34.67253121, 25.73682862,
       26.16093794, 33.89634133, 23.75871508, 26.08269762, 26.12886912,
       22.90689725, 25.20997813, 23.36433372, 28.3321545 , 26.96899293,
       29.8521009 , 25.74506015, 29.65987044, 29.95143028, 31.43726612,
       30.83279573, 27.52001991, 32.53850766, 31.31719536, 23.82598948,
       24.31426124, 32.31155896, 30.47331218, 31.00696923, 31.2962117 ,
       29.49244073, 29.89817646, 31.61159963, 30.88212635, 31.23977904,
       37.11837381, 34.3159854 , 30.39778774, 32.41962   , 29.74160391,
       29.84498063, 29.77270634, 33.97548315, 37.81678998, 38.65192117,
       22.86722623, 23.539222  , 18.00326641, 20.59144514, 14.69962612,
       19.53427781, 13.97141197, 19.66028641, 24.57837072,  7.76731401,
       24.59858721, 23.95888033, 27.98258485, 21.63127308, 27.30699681,
       28.27698699, 18.54638797, 27.51321693, 29.15778295, 33.47811935,
       33.60083428, 34.00374095, 30.44625626, 31.43033841, 30.58126341,
       24.7895207 , 31.19030753, 34.07133314, 32.88156033, 28.07276303,
       25.35032222, 26.9541475 , 31.21707944, 28.2382885 , 28.11924474,
       25.55908614, 24.27507125, 24.51998045, 28.21432454, 20.29616351,
       15.77775499, 22.52772776, 22.70589322, 22.89603086, 24.91415537,
       25.41458443, 26.87738272, 26.44497282, 27.77843148, 27.14671556,
       24.63653177, 35.443171  , 38.10470331, 34.92549261, 35.13057052,
       32.99225351, 35.17097283, 36.96530599, 32.12142547, 34.41467185,
       30.44652446, 28.81200334, 35.08074563, 37.00040575, 23.1147473 ,
       22.76554136, 27.54627947, 28.17731667, 29.66180714, 32.45501289,
       33.04243033, 30.81637705, 31.37538485, 29.34704456, 33.27274293,
       35.26987013, 32.93073693, 34.93306224, 37.86559235, 29.90934387,
       27.30002849, 21.90226598, 28.2596863 , 28.3088035 , 26.41040698,
       32.85368261, 32.94425894, 31.49738492, 25.41186454, 24.4143377 ,
       27.64986986, 27.06239072, 19.84379805, 30.1355635 , 30.78862119,
       30.55661543, 27.39574046, 27.37347087, 30.77701755, 30.86026653,
       29.53805144, 32.67161117, 31.23481964, 29.7816876 , 25.04529112,
       21.11819135, 28.01145362, 24.2338704 , 26.90195576, 26.0171852 ,
       23.09220465, 18.12017993, 19.60703799, 24.63982623, 22.09466825,
       25.7851669 , 26.02977571, 24.85625604, 21.93193739, 26.20977051,
       26.00366093, 25.39263122, 20.4347459 , 21.54161264, 23.74549008,
       22.05355817, 21.55732101, 24.99947729, 25.73058923, 24.91715827,
       23.9933334 , 23.22284264, 22.6734473 , 24.47092393, 23.63871197,
       24.23856649, 29.79346449, 23.30629191, 28.24201629, 29.21101697,
       19.43403847, 17.59916216, 27.4667356 , 29.50394928, 24.11175542,
       23.87983485, 24.29217926, 21.69584327, 30.44742326, 20.84535183,
       22.88224808, 18.330235  , 21.84759106, 22.59902139, 21.79897314,
       25.76762756, 20.81817317, 23.51185695, 20.26286175, 30.13923218,
       24.02145431, 19.83235028, 17.49320154, 28.88835966, 30.02404109,
       31.12699456, 25.05669894, 24.94704305,  4.7331058 ,  1.12415573,
       22.57564778, 14.36544923, 16.75770524, 13.54959312, 15.27435983,
       14.78563059, 16.15759127, 13.68334153, 13.04488675,  5.52622623,
        7.52947558,  8.39272295,  5.75970797,  7.18690037, 15.58162875,
       18.61766415, 17.19181248, 11.28411586, 20.46225086, 19.02438024,
       19.37042737, 17.79042481, 16.69097551,  6.49490815,  8.19378392,
       10.68729818, 16.63020152, 16.77527093, 15.26474466,  7.87036308,
       10.57421821, 11.87103938, 21.96930246, 11.10402837, 15.79040727,
       18.35971801, 13.30218316,  0.99509808, 13.22615013, -2.38285123,
        6.60516972,  9.64783788,  7.59070061,  8.98313974, 11.8868096 ,
       20.09346997, 19.35046841, 19.46271262, 10.73414907, 14.45653693,
        9.47439828, 15.60389015, 15.66812196, 12.83495092, 10.98616621,
       15.84336797, 14.7743663 , 20.10080477, 17.19213753, 17.46085551,
       12.0032218 , 14.98509175,  8.29962036,  2.72833746, 14.01894278,
       13.8741876 , 17.10801647, 19.59700224, 17.80050454, 12.03985994,
       10.87721113, 17.99925624, 19.21198313, 17.97129053, 16.68636194,
       15.75818947, 18.55257582, 18.6881673 , 19.9564916 , 14.56271216,
       15.35965294, 13.77264812, 14.73681983, 17.9368786 , 20.03959005,
       18.47452584, 20.69411964, 20.77283853, 23.90194942, 20.66002166,
       18.89257213, 15.05585596, 14.86644474, 16.08501815, 18.59617266,
       18.84703943, 21.61170172, 20.49618713, 22.93284944, 16.77749717,
       12.8254677 , 17.97789897, 11.30017981, 17.86731915, 21.38826417,
       22.38396018, 25.40070956, 26.2596249 , 21.36843002, 19.37818694,
       21.99317144, 19.24318844, 21.45598059, 12.17049697,  7.37222573,
        2.45733974, 12.72310891, 15.8895839 , 21.89158065, 20.65191891,
       16.76593695, 14.75050909, 20.38280007, 21.70908522, 19.79462053,
       20.8859551 , 23.90417317, 24.23228257, 28.04183276, 27.01446481,
       25.00026849])